# Standard VS.NET and ReSharper Foo
obj
Obj
bin
Bin
ClientBin
*.user
*.suo
_ReSharper.*
*.cache
imagecache
* Thumbs.db
*.log
logs
.idea
*.resharper
*.ReSharper
*.swp
*.lock
.setty
*.ncrunchsolution
packages

local.config.yml
!template.config.yml

Upload
upload

packages/*
!packages/repositories.config
.nuget/*
!.nuget/NuGet.targets
!.nuget/packages.config

src/MLDB.Website/web.config
src/Atlas.ImageService/web.config
src/Atlas.ImageService.Routing/[wW]eb.config
src/Atlas.Domain.Api/web.config
src/Atlas.Api/[wW]eb.config
src/Atlas.Intranet.Api/[wW]eb.config
src/Atlas.Api.AdCopy/[wW]eb.config
src/Atlas.Services.PhotoMigration/[aA]pp.config
src/Atlas.Services.EventHandling/[aA]pp.config
src/Atlas.Scheduler/app.config
src/MLDB.Core.Test/App.config
src/Atlas.Scheduler/NLog.config

*.nuspec

src/Atlas.Services.PhotoMigration/NLog.config
imageServiceConfig.js

deploy/*
dist
dist/*
.setty


 # Office Temp Files
~$*
 
/atlas_dev/atlas_dev.bak


RefitStubs.cs